<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="container-fluid p-0 d-flex">
   <div class="slidebar d-flex flex-column justify-content-between bg-primary vh-100 py-5">    
    <div class="d-flex flex-column">
     <h1 class="pl-5"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/week5/logo-ANSWER.svg" alt=""></h1>
      <ul class="nav d-flex flex-column">
       <li><a href="javascript:;" class="d-flex text-decoration-none text-dark"><span class="material-icons text-dark mr-3">insert_chart</span><span class="font-weight-bold">Dashboard</span></a></li>
       <li><a href="javascript:;" class="d-flex text-decoration-none text-dark"><span class="material-icons text-dark">forum</span><span class="font-weight-bold">Question</span></a></li>
       <li class="active"><a href="javascript:;" class="d-flex text-decoration-none text-dark"><span class="material-icons text-dark">assignment</span><span class="font-weight-bold">Assignment</span></a></li>
       <li><a href="javascript:;" class="d-flex text-decoration-none text-dark"><span class="material-icons text-dark">video_library</span><span>Course</span></a></li>
       <li><a href="javascript:;" class="d-flex text-decoration-none text-dark"><span class="material-icons text-dark">supervisor_account</span><span>Admin</span></a></li>
       <li><a href="javascript:;" class="d-flex text-decoration-none text-dark"><span class="material-icons text-dark">settings</span><span>Setting</span></a></li>
      </ul>
    </div>
    <div class="user-info d-flex">
     <div class="user-pic mr-3">
      <img src="https://rockayumitw.github.io/answer_backend/dist/assets/images/andychen.jpeg" alt="">
     </div>
     <div class="mr-5">
         <p class="user-name font-weight-bold m-0">Andy Chen</p>
         <a class="user-mail text-decoration-none text-secondary" href="mailto:andy0401@mail.com">andy0401@mail.com</a>
     </div>
    </div>
   </div>
   <div class="content container-fluid vw-100 px-5">
    <%- contents %>
   </div>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
